* {
    box-sizing: border-box;
    font-family: "Pensum Display", serif;
    color: #b99976;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
body {
    background: url("images/background.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
.wishlist-container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}
#wishlist-box table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
#wishlist-box th, #wishlist-box td {
    padding: 10px;
    text-align: center;
}
.wishlist-item {
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}
.actions form {
    display: inline;
}
.actions button, .update button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.actions .add-to-cart, .actions .remove, .update-button {
    margin: 3px 0;
    background-color: #b99976;
    color: #fff;
}
.actions .add-to-cart i {
    color: white;
}
.actions button:hover, .update-button {
    opacity: 70%;
}
@media screen and (max-width: 1200px) {
    .wishlist-container {
        width: 90%;
        margin: 30px auto;
        padding: 15px;
    }
    #wishlist-box th, #wishlist-box td {
        padding: 5px;
    }
    .item-image img {
        width: 70px;
        height: 70px;
    }
    .actions button, .update button {
        padding: 4px 8px;
    }
    td input {
        max-width: 80px;
    }
    td {
        max-width: 100px;
    }
}

@media screen and (max-width: 600px) {
    thead {
        display: none;
    }
    .wishlist-item {
        text-align: center;
        margin: auto;
    }
    .wishlist-container {
        width: 95%;
        margin: 20px auto;
        padding: 10px;
    }
    #wishlist-box td {
        padding: 5px;
        max-width: none;
    }
    td[colspan] {
        display: none;
    }
    .item-image {
        flex: 0 0 auto;
        margin-right: 10px;
    }
    .item-image img {
        width: 100px;
        height: 100px;
    }
    .item-info, .actions {
        display: flex;
    }
    .actions button, .update button {
        padding: 3px 6px;
    }
    .actions .add-to-cart, .actions .remove, .update-button {
        margin: 3px 5px;
    }
}
